/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, html, body {
  font-family: "Lato", sans-serif;
}

.container {
  position: relative;
  overflow: hidden;
}

.active {
  color: #fecc24;
}

.bg-dark {
  background: #2c2c2c !important;
}

.bg-white {
  background: #fefefe !important;
}

.btn-white {
  color: #05111f !important;
  background: #fefefe !important;
}

.about-dark {
  background: #313131 !important;
}

.about__img-dark {
  border: 10px solid #3e3e3e !important;
}

.text-white {
  color: #fefefe !important;
}

.icon-dark {
  background: #424242 !important;
}

.job-dark {
  border: 1px solid #474747 !important;
  color: #fefefe !important;
}
.job-dark:not(:first-child) {
  background: #2c2c2c !important;
  color: #898ea2 !important;
}

.hvr:hover {
  background: #313131 !important;
  color: #fecc24 !important;
}

.hvr2:hover .menu__btn {
  background: #242424 !important;
}

.hr-dark {
  border: 1px solid #242424 !important;
}

.btn--ghost {
  text-decoration: none;
  color: #fecc24;
  border: 2px solid #fecc24;
  border-radius: 5px;
  padding: 15px 70px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}
.btn--ghost:hover {
  background: #fecc24;
  color: white;
}

.line__hr {
  border: 1px solid #f7f7f7;
  margin: 0;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.btn--full {
  text-decoration: none;
  background: #fecc24;
  color: #fff;
  border: 2px solid #fecc24;
  border-radius: 5px;
  padding: 15px 40px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}

.subTitle {
  font-size: 2.8rem;
  font-weight: 900;
  color: #33333d;
  margin-bottom: 20px;
}
@media screen and (max-width: 1230px) {
  .subTitle {
    font-size: 2.2rem;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 990px) {
  .subTitle {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 730px) {
  .subTitle {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }
}

.line {
  height: 5px;
  width: 100px;
  background: #fecc24;
  margin-bottom: 30px;
  margin-left: 3px;
}
@media screen and (max-width: 1230px) {
  .line {
    height: 3px;
    width: 80px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 990px) {
  .line {
    width: 60px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 730px) {
  .line {
    width: 50px;
    margin-bottom: 10px;
    height: 2px;
  }
}

.paragraph {
  color: #898ea2;
  line-height: 1.5;
  margin-bottom: 30px;
  width: 79%;
  margin-left: 3px;
}
@media screen and (max-width: 1230px) {
  .paragraph {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 990px) {
  .paragraph {
    margin-bottom: 10px;
    font-size: 0.9rem;
    line-height: 1.3;
  }
}
@media screen and (max-width: 730px) {
  .paragraph {
    font-size: 0.8rem;
    line-height: 1;
  }
}

/*====LANDING=============================================================*/
.bg {
  overflow: hidden;
  background-color: #fdfdfd;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
}
.bg .bg__clip {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: #fecc24;
  -webkit-clip-path: polygon(65% 0, 100% 0, 100% 100%, 65% 100%);
  clip-path: polygon(65% 0, 100% 0, 100% 100%, 65% 100%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}
@media screen and (max-width: 520px) {
  .header {
    padding: 20px;
  }
}
.header .header__logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #33333d;
}
@media screen and (max-width: 990px) {
  .header .header__logo {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 730px) {
  .header .header__logo {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 520px) {
  .header .header__logo {
    font-size: 1rem;
  }
}
.header .header__menu {
  position: relative;
  display: inline-block;
}
.header .header__menu:hover .menu__content .menu__item {
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.2s ease-in-out;
}
.header .header__menu:hover .menu__content .menu__night {
  transform: translateX(0px);
  opacity: 1;
  transition: opacity 0.35s ease-in-out 0.425s, transform 0.35s ease-in-out 0.425s;
}
.header .header__menu:hover .menu__content .line__hr {
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0.4s;
}
.header .header__menu:hover .menu__content {
  display: block;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 243px;
  visibility: visible;
  transition: height 0.4s ease-in-out 0.2s, visibility 0.4s ease-in-out 0.2s;
}
@media screen and (max-width: 730px) {
  .header .header__menu:hover .menu__content {
    height: 223px;
  }
}
@media screen and (max-width: 520px) {
  .header .header__menu:hover .menu__content {
    height: 200px;
  }
}
.header .header__menu:hover .menu__content #a-scroll {
  transition: opacity 0.1s ease-in-out 0.3s, transform 0.1s ease-in-out 0.3s;
}
.header .header__menu:hover .menu__content #s-scroll {
  transition: opacity 0.15s ease-in-out 0.325s, transform 0.1s ease-in-out 0.3s;
}
.header .header__menu:hover .menu__content #g-scroll {
  transition: opacity 0.2s ease-in-out 0.35s, transform 0.1s ease-in-out 0.3s;
}
.header .header__menu:hover .menu__content #e-scroll {
  transition: opacity 0.25s ease-in-out 0.375s, transform 0.1s ease-in-out 0.3s;
}
.header .header__menu:hover .menu__content #c-scroll {
  transition: opacity 0.3s ease-in-out 0.4s, transform 0.1s ease-in-out 0.3s;
}
.header .header__menu:hover .menu__btn {
  background: #f7f7f7;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 160px;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 730px) {
  .header .header__menu:hover .menu__btn {
    width: 130px;
  }
}
@media screen and (max-width: 520px) {
  .header .header__menu:hover .menu__btn {
    width: 110px;
  }
}
.header .header__menu .menu__btn {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  transition: all 0.2s ease-in-out 0.4s;
}
@media screen and (max-width: 730px) {
  .header .header__menu .menu__btn {
    width: 30px;
    height: 30px;
  }
}
.header .header__menu .menu__btn .fas {
  color: #fecc24;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 730px) {
  .header .header__menu .menu__btn .fas {
    font-size: 1rem;
  }
}
@media screen and (max-width: 520px) {
  .header .header__menu .menu__btn .fas {
    font-size: 0.8rem;
  }
}
.header .header__menu .menu__content {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 40px;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
  padding-bottom: 2px;
  height: 0;
  transition: height 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
@media screen and (max-width: 730px) {
  .header .header__menu .menu__content {
    top: 32px;
    min-width: 130px;
  }
}
@media screen and (max-width: 520px) {
  .header .header__menu .menu__content {
    min-width: 110px;
  }
}
.header .header__menu .menu__content #a-scroll {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.header .header__menu .menu__content #s-scroll {
  transition: opacity 0.25s ease-in-out, transform 0.3s ease-in-out;
}
.header .header__menu .menu__content #g-scroll {
  transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out;
}
.header .header__menu .menu__content #e-scroll {
  transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
}
.header .header__menu .menu__content #c-scroll {
  transition: opacity 0.1s ease-in-out, transform 0.3s ease-in-out;
}
.header .header__menu .menu__content .menu__item {
  color: #33333d;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  opacity: 0;
  transform: translateX(10px);
}
@media screen and (max-width: 730px) {
  .header .header__menu .menu__content .menu__item {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 520px) {
  .header .header__menu .menu__content .menu__item {
    font-size: 0.6rem;
  }
}
.header .header__menu .menu__content .menu__item:hover {
  background: #f7f7f7;
  color: #fecc24;
}
.header .header__menu .menu__content .menu__item .far {
  float: right;
}
.header .header__menu .menu__content .menu__night {
  color: #33333d;
  width: 100%;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.8rem;
  transform: translateX(10px);
  opacity: 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
@media screen and (max-width: 730px) {
  .header .header__menu .menu__content .menu__night {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 520px) {
  .header .header__menu .menu__content .menu__night {
    font-size: 0.5rem;
  }
}
.header .header__menu .menu__content .menu__night p {
  display: inline-block;
  margin-top: 4px;
}
@media screen and (max-width: 520px) {
  .header .header__menu .menu__content .menu__night p {
    margin-top: 1px;
  }
}
.header .header__menu .menu__content .switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20.4px;
  float: right;
}
@media screen and (max-width: 730px) {
  .header .header__menu .menu__content .switch {
    width: 27px;
    height: 15.3px;
  }
}
@media screen and (max-width: 520px) {
  .header .header__menu .menu__content .switch {
    width: calc(36px / 2);
    height: calc(20.4px / 2);
  }
}
.header .header__menu .menu__content .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.header .header__menu .menu__content .switch input:checked + .slider {
  background-color: #fecc24;
}
.header .header__menu .menu__content .switch input:focus + .slider {
  box-shadow: 0 0 1px #fecc24;
}
.header .header__menu .menu__content .switch input:checked + .slider:before {
  -webkit-transform: translateX(15.6px);
  -ms-transform: translateX(15.6px);
  transform: translateX(15.6px);
}
@media screen and (max-width: 730px) {
  .header .header__menu .menu__content .switch input:checked + .slider:before {
    -webkit-transform: translateX(11.7px);
    -ms-transform: translateX(11.7px);
    transform: translateX(11px);
  }
}
@media screen and (max-width: 520px) {
  .header .header__menu .menu__content .switch input:checked + .slider:before {
    -webkit-transform: translateX(7px);
    -ms-transform: translateX(7px);
    transform: translateX(7px);
  }
}
.header .header__menu .menu__content .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header .header__menu .menu__content .switch .round {
  border-radius: 20.4px;
}
@media screen and (max-width: 730px) {
  .header .header__menu .menu__content .switch .round {
    border-radius: 15.3px;
  }
}
@media screen and (max-width: 520px) {
  .header .header__menu .menu__content .switch .round {
    border-radius: calc(20.4px / 2);
  }
}
.header .header__menu .menu__content .switch .round:before {
  border-radius: 50%;
}
.header .header__menu .menu__content .switch .slider:before {
  position: absolute;
  content: "";
  height: 15.6px;
  width: 15.6px;
  left: 2.4px;
  bottom: 2.4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media screen and (max-width: 730px) {
  .header .header__menu .menu__content .switch .slider:before {
    height: 11.7px;
    width: 11.7px;
    left: 2px;
    bottom: 2px;
  }
}
@media screen and (max-width: 520px) {
  .header .header__menu .menu__content .switch .slider:before {
    height: calc(15px / 2);
    width: calc(15px / 2);
    left: 1px;
    bottom: 1.5px;
  }
}

.wrapper__top {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
@media screen and (max-width: 1230px) {
  .wrapper__top {
    max-width: 960px;
  }
}
@media screen and (max-width: 990px) {
  .wrapper__top {
    max-width: 700px;
  }
}
@media screen and (max-width: 730px) {
  .wrapper__top {
    max-width: 500px;
  }
}

.heading {
  align-self: center;
  width: 50%;
  padding-bottom: 150px;
}
@media screen and (max-width: 1230px) {
  .heading {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 990px) {
  .heading {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 520px) {
  .heading {
    padding-bottom: 0px;
    margin-left: 30px;
  }
}
.heading .heading__greet {
  color: #898ea2;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1230px) {
  .heading .heading__greet {
    margin-bottom: 0.7rem;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 990px) {
  .heading .heading__greet {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 730px) {
  .heading .heading__greet {
    margin-bottom: 0.2rem;
    font-size: 1rem;
  }
}
.heading .heading__name {
  color: #fecc24;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
@media screen and (max-width: 1230px) {
  .heading .heading__name {
    margin-bottom: 0.5rem;
    font-size: 3.98rem;
  }
}
@media screen and (max-width: 990px) {
  .heading .heading__name {
    margin-bottom: 0.3rem;
    font-size: 3.6rem;
  }
}
@media screen and (max-width: 730px) {
  .heading .heading__name {
    margin-bottom: 0.2rem;
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 520px) {
  .heading .heading__name {
    font-size: 2rem;
  }
}
.heading .heading__position {
  color: #555555;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 50px;
}
@media screen and (max-width: 1230px) {
  .heading .heading__position {
    margin-bottom: 30px;
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 990px) {
  .heading .heading__position {
    margin-bottom: 15px;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 730px) {
  .heading .heading__position {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 520px) {
  .heading .heading__position {
    font-size: 0.9rem;
    font-weight: 900;
  }
}
@media screen and (max-width: 1230px) {
  .heading .heading__btn {
    padding: 15px 50px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 990px) {
  .heading .heading__btn {
    padding: 15px 40px;
  }
}
@media screen and (max-width: 730px) {
  .heading .heading__btn {
    padding: 10px 30px;
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 520px) {
  .heading .heading__btn {
    padding: 8px 25px;
    font-size: 0.6rem;
    border: 1px solid #fecc24;
  }
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 990px) {
  .image {
    width: 64%;
  }
}
@media screen and (max-width: 520px) {
  .image {
    width: 40%;
  }
}
.image .image__person {
  width: 76.6%;
}
@media screen and (max-width: 1230px) {
  .image .image__person {
    width: 64%;
  }
}
@media screen and (max-width: 990px) {
  .image .image__person {
    width: 80%;
  }
}
@media screen and (max-width: 730px) {
  .image .image__person {
    width: 90%;
  }
}
@media screen and (max-width: 520px) {
  .image .image__person {
    width: 100%;
  }
}

/*====ABOUT=============================================================*/
.wrapper__about {
  max-width: 1200px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1230px) {
  .wrapper__about {
    max-width: 900px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 990px) {
  .wrapper__about {
    max-width: 650px;
    height: 450px;
  }
}
@media screen and (max-width: 730px) {
  .wrapper__about {
    max-width: 480px;
    height: 350px;
  }
}
@media screen and (max-width: 520px) {
  .wrapper__about {
    max-width: 300px;
    height: 280px;
  }
}

.about {
  background: #fff;
}
.about .about__image-section {
  width: 32%;
  margin-right: 80px;
  position: relative;
  height: 100%;
}
@media screen and (max-width: 520px) {
  .about .about__image-section {
    display: none;
  }
}
.about .about__image-section .about__img-border {
  height: 452.4px;
  width: 300px;
  background: transparent;
  border: 10px solid #fecc24;
  position: absolute;
  left: 0;
  top: 52%;
  transform: translateY(-50%);
}
@media screen and (max-width: 990px) {
  .about .about__image-section .about__img-border {
    height: 316.67px;
    width: 220px;
  }
}
@media screen and (max-width: 730px) {
  .about .about__image-section .about__img-border {
    height: 226.2px;
    width: 160px;
  }
}
.about .about__image-section .about__img {
  width: 300px;
  height: auto;
  left: 50px;
  top: 48%;
  transform: translateY(-50%);
  background: #fdfdfd;
  position: absolute;
  border: 10px solid #fff;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 990px) {
  .about .about__image-section .about__img {
    height: 316.67px;
    width: 220px;
    left: 30px;
    top: 45%;
  }
}
@media screen and (max-width: 730px) {
  .about .about__image-section .about__img {
    height: 226.2px;
    width: 160px;
  }
}
.about .about__text-section {
  width: 68%;
}
@media screen and (max-width: 1230px) {
  .about .about__text-section {
    width: 50%;
  }
}
@media screen and (max-width: 990px) {
  .about .about__text-section {
    width: 55%;
  }
}
@media screen and (max-width: 730px) {
  .about .about__text-section {
    width: 65%;
  }
}
@media screen and (max-width: 520px) {
  .about .about__text-section {
    width: 100%;
  }
}
@media screen and (max-width: 1230px) {
  .about .about__text-section .about__text {
    width: 100%;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 730px) {
  .about .about__text-section .about__text {
    font-size: 0.8rem;
  }
}
.about .about__text-section .about__btn {
  margin-right: 15px;
}
@media screen and (max-width: 1230px) {
  .about .about__text-section .about__btn {
    padding: 15px 50px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 990px) {
  .about .about__text-section .about__btn {
    padding: 12px 30px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 730px) {
  .about .about__text-section .about__btn {
    padding: 8px 17px;
    font-size: 0.6rem;
  }
}
.about .about__text-section .about__btn--ghost {
  margin-right: 15px;
}
@media screen and (max-width: 1230px) {
  .about .about__text-section .about__btn--ghost {
    padding: 15px 50px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 990px) {
  .about .about__text-section .about__btn--ghost {
    padding: 12px 30px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 730px) {
  .about .about__text-section .about__btn--ghost {
    padding: 8px 17px;
    font-size: 0.6rem;
  }
}

/*====SERVICES=============================================================*/
.services {
  background: #fdfdfd;
  padding: 100px 0;
}
@media screen and (max-width: 1230px) {
  .services {
    padding: 50px 0;
  }
}
@media screen and (max-width: 520px) {
  .services {
    padding: 30px 0;
  }
}
.services .wrapper__services {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1230px) {
  .services .wrapper__services {
    max-width: 900px;
  }
}
@media screen and (max-width: 990px) {
  .services .wrapper__services {
    max-width: 650px;
  }
}
@media screen and (max-width: 730px) {
  .services .wrapper__services {
    max-width: 480px;
  }
}
@media screen and (max-width: 520px) {
  .services .wrapper__services {
    max-width: 300px;
  }
}
.services .wrapper__services .services__text-section .paragraph {
  width: 45%;
}
@media screen and (max-width: 1230px) {
  .services .wrapper__services .services__text-section .paragraph {
    width: 60%;
  }
}
@media screen and (max-width: 990px) {
  .services .wrapper__services .services__text-section .paragraph {
    width: 80%;
    margin-bottom: 20px;
  }
}
.services .wrapper__services .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}
@media screen and (max-width: 1230px) {
  .services .wrapper__services .cards {
    grid-gap: 15px;
  }
}
@media screen and (max-width: 730px) {
  .services .wrapper__services .cards {
    grid-gap: 10px;
  }
}
@media screen and (max-width: 520px) {
  .services .wrapper__services .cards {
    display: block;
  }
}
.services .wrapper__services .cards .card {
  padding: 60px 40px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.services .wrapper__services .cards .card:hover {
  transform: scale(1.02);
}
@media screen and (max-width: 1230px) {
  .services .wrapper__services .cards .card {
    padding: 30px 20px;
  }
}
@media screen and (max-width: 520px) {
  .services .wrapper__services .cards .card {
    padding: 20px 15px;
  }
  .services .wrapper__services .cards .card:not(:last-child) {
    margin-bottom: 10px;
  }
}
.services .wrapper__services .cards .card .fas {
  color: white;
  font-size: 3.5rem;
  margin-bottom: 20px;
}
@media screen and (max-width: 1230px) {
  .services .wrapper__services .cards .card .fas {
    font-size: 2rem;
  }
}
@media screen and (max-width: 990px) {
  .services .wrapper__services .cards .card .fas {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 730px) {
  .services .wrapper__services .cards .card .fas {
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 4px;
  }
}
@media screen and (max-width: 520px) {
  .services .wrapper__services .cards .card .fas {
    font-size: 1rem;
  }
}
.services .wrapper__services .cards .card .card__title {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
@media screen and (max-width: 1230px) {
  .services .wrapper__services .cards .card .card__title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 990px) {
  .services .wrapper__services .cards .card .card__title {
    margin-bottom: 10px;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 730px) {
  .services .wrapper__services .cards .card .card__title {
    display: inline-block;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 520px) {
  .services .wrapper__services .cards .card .card__title {
    font-size: 1rem;
  }
}
.services .wrapper__services .cards .card .card__text {
  color: white;
  line-height: 1.5;
  width: 90%;
}
@media screen and (max-width: 1230px) {
  .services .wrapper__services .cards .card .card__text {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 990px) {
  .services .wrapper__services .cards .card .card__text {
    line-height: 1.3;
  }
}
@media screen and (max-width: 520px) {
  .services .wrapper__services .cards .card .card__text {
    line-height: 1;
    font-size: 0.8rem;
  }
}
.services .wrapper__services .cards .card-1 {
  background: -moz-linear-gradient(-45deg, rgba(0, 203, 214, 0.9) 0%, rgba(0, 126, 237, 0.9) 100%), url(../img/desk.png);
  background: -webkit-linear-gradient(-45deg, rgba(0, 203, 214, 0.9) 0%, rgba(0, 126, 237, 0.9) 100%), url(../img/desk.png);
  background: linear-gradient(135deg, rgba(0, 203, 214, 0.9) 0%, rgba(0, 126, 237, 0.9) 100%), url(../img/desk.png);
}
.services .wrapper__services .cards .card-2 {
  background: #fceb00;
  background: -moz-linear-gradient(-45deg, rgba(252, 235, 0, 0.9) 0%, rgba(208, 211, 0, 0.9) 100%), url(../img/desk.png);
  background: -webkit-linear-gradient(-45deg, rgba(252, 235, 0, 0.9) 0%, rgba(208, 211, 0, 0.9) 100%), url(../img/desk.png);
  background: linear-gradient(135deg, rgba(252, 235, 0, 0.9) 0%, rgba(208, 211, 0, 0.9) 100%), url(../img/desk.png);
}
.services .wrapper__services .cards .card-3 {
  background: #ff00ae;
  background: -moz-linear-gradient(-45deg, rgba(255, 0, 174, 0.9) 0%, rgba(232, 0, 201, 0.9) 100%), url(../img/desk.png);
  background: -webkit-linear-gradient(-45deg, rgba(255, 0, 174, 0.9) 0%, rgba(232, 0, 201, 0.9) 100%), url(../img/desk.png);
  background: linear-gradient(135deg, rgba(255, 0, 174, 0.9) 0%, rgba(232, 0, 201, 0.9) 100%), url(../img/desk.png);
}
.services .wrapper__services .cards .card-4 {
  background: #00ffb2;
  background: -moz-linear-gradient(-45deg, rgba(0, 255, 178, 0.9) 0%, rgba(0, 255, 119, 0.9) 100%), url(../img/desk.png);
  background: -webkit-linear-gradient(-45deg, rgba(0, 255, 178, 0.9) 0%, rgba(0, 255, 119, 0.9) 100%), url(../img/desk.png);
  background: linear-gradient(135deg, rgba(0, 255, 178, 0.9) 0%, rgba(0, 255, 119, 0.9) 100%), url(../img/desk.png);
}

/*====LATEST WORK==========================================================*/
.gallery {
  padding: 100px 0;
}
@media screen and (max-width: 1230px) {
  .gallery {
    padding: 50px 0;
  }
}
.gallery .wrapper__gallery {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1230px) {
  .gallery .wrapper__gallery {
    max-width: 900px;
  }
}
@media screen and (max-width: 990px) {
  .gallery .wrapper__gallery {
    max-width: 650px;
  }
}
@media screen and (max-width: 730px) {
  .gallery .wrapper__gallery {
    max-width: 480px;
  }
}
@media screen and (max-width: 520px) {
  .gallery .wrapper__gallery {
    max-width: 300px;
  }
}
.gallery .wrapper__gallery .gallery__text-section {
  width: 58%;
  margin-bottom: 50px;
}
@media screen and (max-width: 1230px) {
  .gallery .wrapper__gallery .gallery__text-section {
    width: 70%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 990px) {
  .gallery .wrapper__gallery .gallery__text-section {
    width: 100%;
    margin-bottom: 20px;
  }
}
.gallery .wrapper__gallery .gallery__image-section .gallery__menu {
  margin-bottom: 10px;
}
@media screen and (max-width: 1230px) {
  .gallery .wrapper__gallery .gallery__image-section .gallery__menu {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 730px) {
  .gallery .wrapper__gallery .gallery__image-section .gallery__menu {
    margin-bottom: 0px;
  }
}
.gallery .wrapper__gallery .gallery__image-section .gallery__menu .menu__choice {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 30px;
}
.gallery .wrapper__gallery .gallery__image-section .gallery__menu .menu__choice:not(:first-child) {
  color: #898ea2;
}
@media screen and (max-width: 1230px) {
  .gallery .wrapper__gallery .gallery__image-section .gallery__menu .menu__choice {
    margin-right: 20px;
  }
}
@media screen and (max-width: 730px) {
  .gallery .wrapper__gallery .gallery__image-section .gallery__menu .menu__choice {
    font-size: 0.8rem;
    margin-right: 15px;
  }
}
@media screen and (max-width: 520px) {
  .gallery .wrapper__gallery .gallery__image-section .gallery__menu .menu__choice {
    font-size: 0.7rem;
    margin-right: 5px;
  }
}
.gallery .wrapper__gallery .gallery__images .gallery__row {
  display: flex;
  flex-wrap: wrap;
}
.gallery .wrapper__gallery .gallery__images .gallery__column {
  flex: 33%;
  max-width: 33%;
}
.gallery .wrapper__gallery .gallery__images .gallery__column img {
  margin-top: 25px;
  vertical-align: middle;
}
@media screen and (max-width: 1230px) {
  .gallery .wrapper__gallery .gallery__images .gallery__column img {
    width: 95%;
    margin-top: 15px;
  }
}
@media screen and (max-width: 730px) {
  .gallery .wrapper__gallery .gallery__images .gallery__column img {
    margin-top: 8px;
  }
}
@media screen and (max-width: 520px) {
  .gallery .wrapper__gallery .gallery__images .gallery__column img {
    margin-top: 5px;
  }
}

/*====EXPERIENCES==========================================================*/
.experiences {
  padding: 100px 0;
  background: #fdfdfd;
}
@media screen and (max-width: 1230px) {
  .experiences {
    padding: 50px 0;
  }
}
.experiences .wrapper__experiences {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1230px) {
  .experiences .wrapper__experiences {
    max-width: 900px;
  }
}
@media screen and (max-width: 990px) {
  .experiences .wrapper__experiences {
    max-width: 650px;
  }
}
@media screen and (max-width: 730px) {
  .experiences .wrapper__experiences {
    max-width: 480px;
  }
}
@media screen and (max-width: 520px) {
  .experiences .wrapper__experiences {
    max-width: 300px;
  }
}
.experiences .wrapper__experiences .experiences__text-section {
  width: 58%;
  margin-bottom: 50px;
}
@media screen and (max-width: 1230px) {
  .experiences .wrapper__experiences .experiences__text-section {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 990px) {
  .experiences .wrapper__experiences .experiences__text-section {
    margin-bottom: 20px;
    width: 100%;
  }
}
.experiences .wrapper__experiences .experiences__jobs-section {
  display: flex;
}
@media screen and (max-width: 520px) {
  .experiences .wrapper__experiences .experiences__jobs-section {
    display: block;
  }
}
.experiences .wrapper__experiences .experiences__jobs-section .job {
  border: 1px solid #f2efef;
  width: 33.3333333333%;
  padding: 80px 40px;
  color: #33333d;
  background: #fecc24;
}
.experiences .wrapper__experiences .experiences__jobs-section .job:not(:first-child) {
  color: #898ea2;
  background: #fbfbfb;
}
@media screen and (max-width: 1230px) {
  .experiences .wrapper__experiences .experiences__jobs-section .job {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 990px) {
  .experiences .wrapper__experiences .experiences__jobs-section .job {
    padding: 20px;
  }
}
@media screen and (max-width: 730px) {
  .experiences .wrapper__experiences .experiences__jobs-section .job {
    padding: 10px;
  }
}
@media screen and (max-width: 520px) {
  .experiences .wrapper__experiences .experiences__jobs-section .job {
    width: 100%;
  }
}
.experiences .wrapper__experiences .experiences__jobs-section .job .job__period {
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 10px;
  font-size: 0.9rem;
}
@media screen and (max-width: 990px) {
  .experiences .wrapper__experiences .experiences__jobs-section .job .job__period {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 730px) {
  .experiences .wrapper__experiences .experiences__jobs-section .job .job__period {
    font-weight: 400;
    font-size: 0.6rem;
  }
}
.experiences .wrapper__experiences .experiences__jobs-section .job .job__position {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #33333d;
}
@media screen and (max-width: 990px) {
  .experiences .wrapper__experiences .experiences__jobs-section .job .job__position {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 730px) {
  .experiences .wrapper__experiences .experiences__jobs-section .job .job__position {
    font-size: 1.1rem;
    margin-bottom: 2px;
  }
}
.experiences .wrapper__experiences .experiences__jobs-section .job .job__corporation {
  margin-bottom: 20px;
}
@media screen and (max-width: 990px) {
  .experiences .wrapper__experiences .experiences__jobs-section .job .job__corporation {
    font-size: 0.9;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 730px) {
  .experiences .wrapper__experiences .experiences__jobs-section .job .job__corporation {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
}
.experiences .wrapper__experiences .experiences__jobs-section .job .job__description {
  line-height: 1.6;
  font-size: 1rem;
  letter-spacing: 1px;
}
@media screen and (max-width: 990px) {
  .experiences .wrapper__experiences .experiences__jobs-section .job .job__description {
    line-height: 1.3;
    font-size: 0.9rem;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 730px) {
  .experiences .wrapper__experiences .experiences__jobs-section .job .job__description {
    line-height: 1;
    font-size: 0.8rem;
  }
}

/*====CTA==================================================================*/
.cta {
  padding: 80px 0;
  background: url(../img/bg-cta.png);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1230px) {
  .cta {
    padding: 50px 0;
  }
}
@media screen and (max-width: 730px) {
  .cta {
    padding: 30px 0;
  }
}
.cta .cta__bg {
  background: rgba(255, 182, 51, 0.7);
  overflow: hidden;
  width: 100%;
  position: absolute;
  height: 360px;
  z-index: 2;
}
@media screen and (max-width: 1230px) {
  .cta .cta__bg {
    height: 250px;
  }
}
@media screen and (max-width: 990px) {
  .cta .cta__bg {
    height: 220px;
  }
}
@media screen and (max-width: 730px) {
  .cta .cta__bg {
    height: 160px;
  }
}
@media screen and (max-width: 520px) {
  .cta .cta__bg {
    height: 156px;
  }
}
.cta .cta__heading {
  display: inline-block;
  color: #33333d;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 30px;
  z-index: 3;
}
@media screen and (max-width: 1230px) {
  .cta .cta__heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 990px) {
  .cta .cta__heading {
    font-size: 2rem;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 730px) {
  .cta .cta__heading {
    font-size: 1.7rem;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 520px) {
  .cta .cta__heading {
    font-size: 1.4rem;
  }
}
.cta .cta__line {
  height: 5px;
  width: 100px;
  background: #33333d;
  margin-bottom: 50px;
  border-radius: 5px;
  z-index: 3;
}
@media screen and (max-width: 1230px) {
  .cta .cta__line {
    height: 4px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 990px) {
  .cta .cta__line {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 520px) {
  .cta .cta__line {
    height: 3px;
    width: 50px;
  }
}
.cta .cta__button {
  background: #33333d;
  font-size: 1.1rem;
  padding: 25px 70px;
  border: 0;
  z-index: 3;
}
@media screen and (max-width: 1230px) {
  .cta .cta__button {
    font-size: 1rem;
    padding: 18px 50px;
  }
}
@media screen and (max-width: 990px) {
  .cta .cta__button {
    font-size: 0.8rem;
    padding: 15px 30px;
  }
}
@media screen and (max-width: 730px) {
  .cta .cta__button {
    font-size: 0.7rem;
    padding: 12px 26px;
  }
}
@media screen and (max-width: 520px) {
  .cta .cta__button {
    padding: 10px 20px;
  }
}

/*====FOOTER===============================================================*/
.footer {
  padding: 80px 0 40px 0;
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 990px) {
  .footer {
    padding: 30px 0;
  }
}
.footer .footer__logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fecc24;
  margin-bottom: 30px;
}
@media screen and (max-width: 990px) {
  .footer .footer__logo {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 730px) {
  .footer .footer__logo {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 520px) {
  .footer .footer__logo {
    font-size: 1.2rem;
  }
}
.footer .footer__text {
  text-align: center;
  color: #898ea2;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 1.05rem;
  margin-bottom: 40px;
}
@media screen and (max-width: 990px) {
  .footer .footer__text {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 730px) {
  .footer .footer__text {
    font-size: 1rem;
    line-height: 1.3;
  }
}
@media screen and (max-width: 520px) {
  .footer .footer__text {
    line-height: 1;
    width: 50%;
  }
}
.footer .footer__icons {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
@media screen and (max-width: 990px) {
  .footer .footer__icons {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 730px) {
  .footer .footer__icons {
    margin-bottom: 20px;
  }
}
.footer .footer__icons .footer__icon {
  background: #cccccc;
  padding: 15px;
  border-radius: 50px;
  font-size: 1.2rem;
  color: #fff;
  width: 49.2px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.footer .footer__icons .footer__icon:not(:last-child) {
  margin-right: 10px;
}
@media screen and (max-width: 730px) {
  .footer .footer__icons .footer__icon {
    padding: 10px;
    width: 33.3px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 520px) {
  .footer .footer__icons .footer__icon {
    padding: 8px;
    width: 25.6px;
    font-size: 0.6rem;
  }
}
.footer .footer__icons .fb:hover {
  background: #3b5998 !important;
}
.footer .footer__icons .tw:hover {
  background: #1da1f2 !important;
}
.footer .footer__icons .in:hover {
  background: #0077b5 !important;
}
.footer .footer__icons .ball:hover {
  background: #ea4c89 !important;
}
.footer .footer__icons .be:hover {
  background: #1769ff !important;
}
.footer .footer__icons .g:hover {
  background: #dd4b39 !important;
}
.footer .footer__line {
  height: 1px;
  width: 1200px;
  background: #ccc;
  margin-bottom: 40px;
}
@media screen and (max-width: 1230px) {
  .footer .footer__line {
    width: 900px;
  }
}
@media screen and (max-width: 990px) {
  .footer .footer__line {
    width: 650px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 730px) {
  .footer .footer__line {
    width: 480px;
  }
}
@media screen and (max-width: 520px) {
  .footer .footer__line {
    width: 300px;
  }
}
.footer .footer__copyright {
  color: #898ea2;
}
@media screen and (max-width: 520px) {
  .footer .footer__copyright {
    font-size: 0.7rem;
  }
}

/*# sourceMappingURL=style.css.map */
