@import "reset"

$colorPrimary: #fecc24
$colorBackground: #fbfbfb
$colorHeading: #33333d
$colorSubHead: #555555
$colorP: #898ea2

$break-large: 1230px
$break-medium: 990px
$break-small: 730px
$break-mobile: 520px


*, html, body
    font-family: 'Lato', sans-serif

.container
    position: relative
    overflow: hidden

.active
    color: $colorPrimary

.bg-dark
    background: #2c2c2c !important

.bg-white
    background: #fefefe !important

.btn-white
    color: #05111f !important
    background: #fefefe !important

.about-dark
    background: #313131 !important

.about__img-dark
    border: 10px solid #3e3e3e !important

.text-white
    color: #fefefe !important

.icon-dark
    background: #424242 !important

.job-dark
    border: 1px solid #474747 !important
    color: #fefefe !important
    &:not(:first-child)
                    background: #2c2c2c !important
                    color: $colorP !important
.hvr 
    &:hover
                    background: #313131 !important
                    color: $colorPrimary !important

.hvr2 
    &:hover .menu__btn
                    background: #242424 !important

.hr-dark
    border: 1px solid #242424 !important

.btn--ghost
    text-decoration: none
    color: $colorPrimary
    border: 2px solid $colorPrimary
    border-radius: 5px
    padding: 15px 70px
    text-transform: uppercase
    font-weight: 700
    transition: all .2s ease-in-out
    display: inline-block
    &:hover
        background: $colorPrimary
        color: white

.line__hr
    border: 1px solid #f7f7f7
    margin: 0
    opacity: 0
    transition: opacity .1s ease-in-out

.btn--full
    text-decoration: none
    background: $colorPrimary
    color: #fff
    border: 2px solid $colorPrimary
    border-radius: 5px
    padding: 15px 40px
    text-transform: uppercase
    font-weight: 700
    display: inline-block

.subTitle
    font-size: 2.8rem
    font-weight: 900
    color: $colorHeading
    margin-bottom: 20px
    @media screen and (max-width: $break-large)
        font-size: 2.2rem
        margin-bottom: 15px
    @media screen and (max-width: $break-medium)
        font-size: 1.8rem
        margin-bottom: 10px
    @media screen and (max-width: $break-small)
        font-size: 1.3rem
        margin-bottom: 5px

.line
    height: 5px
    width: 100px
    background: $colorPrimary
    margin-bottom: 30px
    margin-left: 3px
    @media screen and (max-width: $break-large)
        height: 3px
        width: 80px
        margin-bottom: 20px
    @media screen and (max-width: $break-medium)
        width: 60px
        margin-bottom: 15px
    @media screen and (max-width: $break-small)
        width: 50px
        margin-bottom: 10px
        height: 2px

.paragraph
    color: $colorP
    line-height: 1.5
    margin-bottom: 30px
    width: 79%
    margin-left: 3px
    @media screen and (max-width: $break-large)
        margin-bottom: 20px
    @media screen and (max-width: $break-medium)
        margin-bottom: 10px
        font-size: .9rem
        line-height: 1.3
    @media screen and (max-width: $break-small)
        font-size: .8rem
        line-height: 1

/*====LANDING=============================================================*/

.bg
    overflow: hidden
    background-color: #fdfdfd
    position: absolute
    height: 100vh
    width: 100%
    z-index: -1
    .bg__clip
        position: absolute
        height: 100vh
        width: 100%
        background: $colorPrimary
        -webkit-clip-path: polygon(65% 0, 100% 0, 100% 100%, 65% 100%)
        clip-path: polygon(65% 0, 100% 0, 100% 100%, 65% 100%)

.header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 30px 60px
    @media screen and (max-width: $break-mobile)
        padding: 20px
    .header__logo
        font-size: 1.8rem
        font-weight: 700
        color: $colorHeading
        @media screen and (max-width: $break-medium)
            font-size: 1.5rem
        @media screen and (max-width: $break-small)
            font-size: 1.2rem
        @media screen and (max-width: $break-mobile)
            font-size: 1rem

    .header__menu
        position: relative
        display: inline-block
        &:hover .menu__content .menu__item
            opacity: 1
            transform: translateX(0px)
            transition: all .2s ease-in-out
        &:hover .menu__content .menu__night
            transform: translateX(0px)
            opacity: 1
            transition: opacity .35s ease-in-out .425s, transform .35s ease-in-out .425s
        &:hover .menu__content .line__hr
            opacity: 1
            transition: opacity .2s ease-in-out .4s
        &:hover .menu__content
            display: block
            border-bottom-left-radius: 5px
            border-bottom-right-radius: 5px
            height: 243px
            visibility: visible
            transition: height .4s ease-in-out .2s, visibility .4s ease-in-out .2s
            @media screen and (max-width: $break-small)
                height: 223px
            @media screen and (max-width: $break-mobile)
                height: 200px
            #a-scroll
                transition: opacity .10s ease-in-out .3s, transform .10s ease-in-out .3s
            #s-scroll
                transition: opacity .15s ease-in-out .325s, transform .10s ease-in-out .3s
            #g-scroll
                transition: opacity .20s ease-in-out .35s, transform .10s ease-in-out .3s
            #e-scroll
                transition: opacity .25s ease-in-out .375s, transform .10s ease-in-out .3s
            #c-scroll
                transition: opacity .30s ease-in-out .4s, transform .10s ease-in-out .3s
        &:hover .menu__btn
            background: #f7f7f7
            border-bottom-left-radius: 0
            border-bottom-right-radius: 0
            width: 160px
            transition: all .2s ease-in-out
            @media screen and (max-width: $break-small)
                width: 130px
            @media screen and (max-width: $break-mobile)
                width: 110px
        .menu__btn
            background-color: #fff
            width: 40px
            height: 40px
            border-radius: 5px
            color: white
            padding: 16px
            font-size: 16px
            border: none
            transition: all .2s ease-in-out .4s
            @media screen and (max-width: $break-small)
                width: 30px
                height: 30px
            .fas
                color: $colorPrimary
                font-size: 1.2rem
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                @media screen and (max-width: $break-small)
                    font-size: 1rem
                @media screen and (max-width: $break-mobile)
                    font-size: .8rem
        .menu__content
            visibility: hidden
            position: absolute
            left: 0px
            top: 40px
            background-color: #fff
            min-width: 160px
            z-index: 1
            padding-bottom: 2px
            height: 0
            transition: height .4s ease-in-out, visibility .4s ease-in-out
            @media screen and (max-width: $break-small)
                top: 32px
                min-width: 130px
            @media screen and (max-width: $break-mobile)
                min-width: 110px
            #a-scroll
                transition: opacity .30s ease-in-out, transform .30s ease-in-out
            #s-scroll
                transition: opacity .25s ease-in-out, transform .30s ease-in-out
            #g-scroll
                transition: opacity .20s ease-in-out, transform .30s ease-in-out
            #e-scroll
                transition: opacity .15s ease-in-out, transform .30s ease-in-out
            #c-scroll
                transition: opacity .10s ease-in-out, transform .30s ease-in-out
            .menu__item
                color: $colorHeading
                padding: 12px 16px
                text-decoration: none
                display: block
                opacity: 0
                transform: translateX(10px)
                @media screen and (max-width: $break-small)
                    font-size: .8rem
                @media screen and (max-width: $break-mobile)
                    font-size: .6rem
                &:hover
                    background: #f7f7f7
                    color: $colorPrimary
                .far
                    float: right
            .menu__night
                color: $colorHeading
                width: 100%
                padding: 10px 16px
                text-decoration: none
                display: block
                font-size: .8rem
                transform: translateX(10px)
                opacity: 0
                transition: opacity .10s ease-in-out, transform .10s ease-in-out
                @media screen and (max-width: $break-small)
                    font-size: .6rem
                @media screen and (max-width: $break-mobile)
                    font-size: .5rem
                p 
                    display: inline-block
                    margin-top: 4px
                    @media screen and (max-width: $break-mobile)
                        margin-top: 1px
                
            .switch
                position: relative
                display: inline-block
                width: 36px
                height: 20.4px
                float: right
                @media screen and (max-width: $break-small)
                    width: 27px
                    height: 15.3px
                @media screen and (max-width: $break-mobile)
                    width: calc(36px / 2)
                    height: calc(20.4px / 2)
                input
                    opacity: 0
                    width: 0
                    height: 0
                input:checked + .slider
                    background-color: $colorPrimary
                input:focus + .slider
                    box-shadow: 0 0 1px $colorPrimary
                input:checked + .slider:before
                    -webkit-transform: translateX(15.6px)
                    -ms-transform: translateX(15.6px)
                    transform: translateX(15.6px)
                    @media screen and (max-width: $break-small)
                        -webkit-transform: translateX(11.7px)
                        -ms-transform: translateX(11.7px)
                        transform: translateX(11px)
                    @media screen and (max-width: $break-mobile)
                        -webkit-transform: translateX(7px)
                        -ms-transform: translateX(7px)
                        transform: translateX(7px)
                .slider
                    position: absolute
                    cursor: pointer
                    top: 0
                    left: 0
                    right: 0
                    bottom: 0
                    background-color: #ccc
                    -webkit-transition: .4s
                    transition: .4s
                & .round
                    border-radius: 20.4px
                    @media screen and (max-width: $break-small)
                        border-radius: 15.3px
                    @media screen and (max-width: $break-mobile)
                        border-radius: calc(20.4px / 2)
                & .round:before
                    border-radius: 50%
                .slider:before
                    position: absolute
                    content: ""
                    height: 15.6px
                    width: 15.6px
                    left: 2.4px
                    bottom: 2.4px
                    background-color: white
                    -webkit-transition: .4s
                    transition: .4s
                    @media screen and (max-width: $break-small)
                        height: 11.7px
                        width: 11.7px
                        left: 2px
                        bottom: 2px
                    @media screen and (max-width: $break-mobile)
                        height: calc(15px / 2)
                        width: calc(15px / 2)
                        left: 1px
                        bottom: 1.5px


.wrapper__top
    max-width: 1200px
    margin: 0 auto
    display: flex
    @media screen and (max-width: $break-large)
        max-width: 960px
    @media screen and (max-width: $break-medium)
        max-width: 700px
    @media screen and (max-width: $break-small)
        max-width: 500px
    
.heading 
    align-self: center
    width: 50%
    padding-bottom: 150px 
    @media screen and (max-width: $break-large)
        padding-bottom: 100px 
    @media screen and (max-width: $break-medium)
        padding-bottom: 50px 
    @media screen and (max-width: $break-mobile)
        padding-bottom: 0px
        margin-left: 30px
       
    .heading__greet
        color: $colorP
        font-size: 1.5rem
        margin-bottom: 1rem
        @media screen and (max-width: $break-large)
            margin-bottom: .7rem
            font-size: 1.3rem
        @media screen and (max-width: $break-medium)
            margin-bottom: .5rem
            font-size: 1.2rem
        @media screen and (max-width: $break-small)
            margin-bottom: .2rem
            font-size: 1rem
    .heading__name
        color: $colorPrimary
        font-size: 5rem
        font-weight: 700
        margin-bottom: .8rem
        @media screen and (max-width: $break-large)
            margin-bottom: .5rem
            font-size: 3.98rem
        @media screen and (max-width: $break-medium)
            margin-bottom: .3rem
            font-size: 3.6rem
        @media screen and (max-width: $break-small)
            margin-bottom: .2rem
            font-size: 2.6rem
        @media screen and (max-width: $break-mobile)
            font-size: 2rem
    .heading__position
        color: $colorSubHead
        font-size: 2.2rem
        font-weight: 700
        line-height: 1.4
        margin-bottom: 50px
        @media screen and (max-width: $break-large)
            margin-bottom: 30px
            font-size: 1.8rem
        @media screen and (max-width: $break-medium)
            margin-bottom: 15px
            font-size: 1.5rem
        @media screen and (max-width: $break-small)
            font-size: 1.2rem
        @media screen and (max-width: $break-mobile)
            font-size: .9rem
            font-weight: 900
    .heading__btn
        @media screen and (max-width: $break-large)
            padding: 15px 50px
            font-size: .8rem
        @media screen and (max-width: $break-medium)
            padding: 15px 40px
        @media screen and (max-width: $break-small)
            padding: 10px 30px
            font-size: .7rem
        @media screen and (max-width: $break-mobile)
            padding: 8px 25px
            font-size: .6rem
            border: 1px solid $colorPrimary

            

.image
    display: flex
    align-items: center
    justify-content: center
    @media screen and (max-width: $break-medium)
        width: 64%
    @media screen and (max-width: $break-mobile)
        width: 40%
    .image__person
        width: 76.6%
        @media screen and (max-width: $break-large)
            width: 64%
        @media screen and (max-width: $break-medium)
            width:80%
        @media screen and (max-width: $break-small)
            width: 90%
        @media screen and (max-width: $break-mobile)
            width: 100%

/*====ABOUT=============================================================*/

.wrapper__about
    max-width: 1200px
    height: 600px
    margin: 0 auto
    display: flex
    justify-content: center
    align-items: center
    @media screen and (max-width: $break-large)
        max-width: 900px
        justify-content: space-between
    @media screen and (max-width: $break-medium)
        max-width: 650px
        height: 450px
    @media screen and (max-width: $break-small)
        max-width: 480px
        height: 350px
    @media screen and (max-width: $break-mobile)
        max-width: 300px
        height: 280px

.about 
    background: #fff 
    .about__image-section
        width: 32%
        margin-right: 80px
        position: relative
        height: 100%
        @media screen and (max-width: $break-mobile)
            display: none
        .about__img-border
            height: 452.4px
            width: 300px
            background: transparent
            border: 10px solid $colorPrimary
            position: absolute
            left: 0
            top: 52%
            transform: translateY(-50%)
            @media screen and (max-width: $break-medium)
                height: 316.67px
                width: 220px
            @media screen and (max-width: $break-small)
                height: 226.2px
                width: 160px

        .about__img
            width: 300px
            height: auto
            left: 50px
            top: 48%
            transform: translateY(-50%)
            background: #fdfdfd
            position: absolute
            border: 10px solid #fff
            -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1)
            -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1)
            box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1)
            @media screen and (max-width: $break-medium)
                height: 316.67px
                width: 220px
                left: 30px
                top: 45%
            @media screen and (max-width: $break-small)
                height: 226.2px
                width: 160px
    
    .about__text-section
        width: 68%
        @media screen and (max-width: $break-large)
            width: 50%
        @media screen and (max-width: $break-medium)
            width: 55%
        @media screen and (max-width: $break-small)
            width: 65%
        @media screen and (max-width: $break-mobile)
            width: 100%
        .about__line
            @media screen and (max-width: $break-large)
        .about__text
            @media screen and (max-width: $break-large)
                width: 100%
                font-size: .9rem
            @media screen and (max-width: $break-small)
                font-size: .8rem
        .about__btn
            margin-right: 15px
            @media screen and (max-width: $break-large)
                padding: 15px 50px
                font-size: .8rem
            @media screen and (max-width: $break-medium)
                padding: 12px 30px
                margin-top: 5px
            @media screen and (max-width: $break-small)
                padding: 8px 17px
                font-size: .6rem
        .about__btn--ghost
            margin-right: 15px
            @media screen and (max-width: $break-large)
                padding: 15px 50px
                font-size: .8rem
            @media screen and (max-width: $break-medium)
                padding: 12px 30px
                margin-top: 5px
            @media screen and (max-width: $break-small)
                padding: 8px 17px
                font-size: .6rem

/*====SERVICES=============================================================*/

.services 
    background: #fdfdfd
    padding: 100px 0
    @media screen and (max-width: $break-large)
        padding: 50px 0   
    @media screen and (max-width: $break-mobile)
        padding: 30px 0     
    .wrapper__services
        max-width: 1200px
        margin: 0 auto
        @media screen and (max-width: $break-large)
            max-width: 900px
        @media screen and (max-width: $break-medium)
            max-width: 650px
        @media screen and (max-width: $break-small)
            max-width: 480px
        @media screen and (max-width: $break-mobile)
            max-width: 300px
        .services__text-section
            .paragraph
                width: 45%
                @media screen and (max-width: $break-large)
                    width: 60%
                @media screen and (max-width: $break-medium)
                    width: 80%
                    margin-bottom: 20px
        
        .cards
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-gap: 25px
            @media screen and (max-width: $break-large)
                grid-gap: 15px
            @media screen and (max-width: $break-small)
                grid-gap: 10px
            @media screen and (max-width: $break-mobile)
                display: block
            .card
                padding: 60px 40px
                border-radius: 10px
                transition: all .2s ease-in-out
                &:hover
                    transform: scale(1.02)
                @media screen and (max-width: $break-large)
                    padding: 30px 20px
                @media screen and (max-width: $break-mobile)
                    padding: 20px 15px
                    &:not(:last-child)
                        margin-bottom: 10px
                .fas
                    color: white
                    font-size: 3.5rem
                    margin-bottom: 20px
                    @media screen and (max-width: $break-large)
                        font-size: 2rem
                    @media screen and (max-width: $break-medium)
                        margin-bottom: 10px
                    @media screen and (max-width: $break-small)
                        display: inline-block
                        font-size: 1.2rem
                        margin-right: 4px
                    @media screen and (max-width: $break-mobile)
                        font-size: 1rem
                .card__title
                    color: white
                    font-size: 2rem
                    font-weight: 700
                    margin-bottom: 20px
                    @media screen and (max-width: $break-large)
                        font-size: 1.5rem
                    @media screen and (max-width: $break-medium)
                        margin-bottom: 10px
                        font-size: 1.4rem
                    @media screen and (max-width: $break-small)
                        display: inline-block
                        font-size: 1.2rem
                    @media screen and (max-width: $break-mobile)
                        font-size: 1rem
                .card__text
                    color: white
                    line-height: 1.5
                    width: 90%
                    @media screen and (max-width: $break-large)
                        font-size: .9rem
                    @media screen and (max-width: $break-medium)
                        line-height: 1.3
                    @media screen and (max-width: $break-mobile)
                        line-height: 1
                        font-size: .8rem

            .card-1
                background: -moz-linear-gradient(-45deg, rgba(0,203,214,0.9) 0%, rgba(0,126,237,0.9) 100%), url(../img/desk.png)
                background: -webkit-linear-gradient(-45deg, rgba(0,203,214,0.9) 0%,rgba(0,126,237,0.9) 100%), url(../img/desk.png)
                background: linear-gradient(135deg, rgba(0,203,214,0.9) 0%,rgba(0,126,237,0.9) 100%), url(../img/desk.png)
            .card-2
                background: rgb(252,235,0)
                background: -moz-linear-gradient(-45deg, rgba(252,235,0,.9) 0%, rgba(208,211,0,.9) 100%), url(../img/desk.png)
                background: -webkit-linear-gradient(-45deg, rgba(252,235,0,.9) 0%,rgba(208,211,0,.9) 100%), url(../img/desk.png)
                background: linear-gradient(135deg, rgba(252,235,0,.9) 0%,rgba(208,211,0,.9) 100%), url(../img/desk.png)
            .card-3
                background: rgb(255,0,174)
                background: -moz-linear-gradient(-45deg, rgba(255,0,174,.9) 0%, rgba(232,0,201,.9) 100%), url(../img/desk.png)
                background: -webkit-linear-gradient(-45deg, rgba(255,0,174,.9) 0%,rgba(232,0,201,.9) 100%), url(../img/desk.png)
                background: linear-gradient(135deg, rgba(255,0,174,.9) 0%,rgba(232,0,201,.9) 100%), url(../img/desk.png)
            .card-4
                background: rgb(0,255,178)
                background: -moz-linear-gradient(-45deg, rgba(0,255,178,.9) 0%, rgba(0,255,119,.9) 100%), url(../img/desk.png)
                background: -webkit-linear-gradient(-45deg, rgba(0,255,178,.9) 0%,rgba(0,255,119,.9) 100%), url(../img/desk.png)
                background: linear-gradient(135deg, rgba(0,255,178,.9) 0%,rgba(0,255,119,.9) 100%), url(../img/desk.png)

/*====LATEST WORK==========================================================*/
.gallery
    padding: 100px 0
    @media screen and (max-width: $break-large)
        padding: 50px 0
    .wrapper__gallery
        max-width: 1200px
        margin: 0 auto
        @media screen and (max-width: $break-large)
            max-width: 900px
        @media screen and (max-width: $break-medium)
            max-width: 650px
        @media screen and (max-width: $break-small)
            max-width: 480px
        @media screen and (max-width: $break-mobile)
            max-width: 300px
        .gallery__text-section
            width: 58%
            margin-bottom: 50px
            @media screen and (max-width: $break-large)
                width: 70%
                margin-bottom: 30px
            @media screen and (max-width: $break-medium)
                width: 100%
                margin-bottom: 20px
        .gallery__image-section
            .gallery__menu
                margin-bottom: 10px
                @media screen and (max-width: $break-large)
                    margin-bottom: 5px
                @media screen and (max-width: $break-small)
                    margin-bottom: 0px
                .menu__choice
                    display: inline-block
                    text-transform: uppercase
                    margin-right: 30px
                    &:not(:first-child)
                        color: $colorP
                    @media screen and (max-width: $break-large)
                        margin-right: 20px
                    @media screen and (max-width: $break-small)
                        font-size: .8rem
                        margin-right: 15px
                    @media screen and (max-width: $break-mobile)
                        font-size: .7rem
                        margin-right: 5px
        .gallery__images
            .gallery__row
                display: flex
                flex-wrap: wrap
            .gallery__column
                flex: 33%
                max-width: 33%
                img
                    margin-top: 25px
                    vertical-align: middle
                    @media screen and (max-width: $break-large)
                        width: 95%
                        margin-top: 15px
                    @media screen and (max-width: $break-small)
                        margin-top: 8px
                    @media screen and (max-width: $break-mobile)
                        margin-top: 5px

/*====EXPERIENCES==========================================================*/
.experiences
    padding: 100px 0
    background: #fdfdfd
    @media screen and (max-width: $break-large)
        padding: 50px 0
    .wrapper__experiences
        max-width: 1200px
        margin: 0 auto
        @media screen and (max-width: $break-large)
            max-width: 900px
        @media screen and (max-width: $break-medium)
            max-width: 650px
        @media screen and (max-width: $break-small)
            max-width: 480px
        @media screen and (max-width: $break-mobile)
            max-width: 300px
        .experiences__text-section
            width: 58%
            margin-bottom: 50px
            @media screen and (max-width: $break-large)
                margin-bottom: 30px
            @media screen and (max-width: $break-medium)
                margin-bottom: 20px
                width: 100%
        .experiences__jobs-section
            display: flex
            @media screen and (max-width: $break-mobile)
                display: block
            .job
                border: 1px solid #f2efef
                width: 33.3333333333333%
                padding: 80px 40px
                color: $colorHeading
                background: $colorPrimary
                &:not(:first-child)
                    color: $colorP
                    background: #fbfbfb
                @media screen and (max-width: $break-large)
                    padding: 40px 20px
                @media screen and (max-width: $break-medium)
                    padding: 20px
                @media screen and (max-width: $break-small)
                    padding: 10px
                @media screen and (max-width: $break-mobile)
                    width: 100%
                .job__period
                    text-transform: uppercase
                    font-weight: 100
                    margin-bottom: 10px
                    font-size: .9rem
                    @media screen and (max-width: $break-medium)
                        font-size: .7rem
                    @media screen and (max-width: $break-small)
                        font-weight: 400
                        font-size: .6rem
                .job__position
                    font-size: 1.4rem
                    font-weight: 600
                    margin-bottom: 10px
                    color: $colorHeading
                    @media screen and (max-width: $break-medium)
                        font-size: 1.2rem
                        margin-bottom: 5px
                    @media screen and (max-width: $break-small)
                        font-size: 1.1rem
                        margin-bottom: 2px
                .job__corporation
                    margin-bottom: 20px
                    @media screen and (max-width: $break-medium)
                        font-size: .9
                        margin-bottom: 10px
                    @media screen and (max-width: $break-small)
                        font-size: .9rem
                        margin-bottom: 10px
                .job__description
                    line-height: 1.6
                    font-size: 1rem
                    letter-spacing: 1px
                    @media screen and (max-width: $break-medium)
                        line-height: 1.3
                        font-size: .9rem
                        letter-spacing: 0
                    @media screen and (max-width: $break-small)
                        line-height: 1
                        font-size: .8rem

/*====CTA==================================================================*/
.cta 
    padding: 80px 0
    background: url(../img/bg-cta.png)
    overflow: hidden
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    @media screen and (max-width: $break-large)
        padding: 50px 0
    @media screen and (max-width: $break-small)
        padding: 30px 0
    .cta__bg
        background: rgba(255, 182, 51,.7)
        overflow: hidden
        width: 100%
        position: absolute
        height: 360px
        z-index: 2
        @media screen and (max-width: $break-large)
            height: 250px
        @media screen and (max-width: $break-medium)
            height: 220px
        @media screen and (max-width: $break-small)
            height: 160px
        @media screen and (max-width: $break-mobile)
            height: 156px
    .cta__heading
        display: inline-block
        color: $colorHeading
        font-size: 3rem
        font-weight: 700
        margin-bottom: 30px
        z-index: 3
        @media screen and (max-width: $break-large)
            font-size: 2.5rem
            margin-bottom: 20px
        @media screen and (max-width: $break-medium)
            font-size: 2rem
            margin-bottom: 15px
        @media screen and (max-width: $break-small)
            font-size: 1.7rem
            margin-bottom: 12px
        @media screen and (max-width: $break-mobile)
            font-size: 1.4rem
    .cta__line
        height: 5px
        width: 100px
        background: $colorHeading
        margin-bottom: 50px
        border-radius: 5px
        z-index: 3
        @media screen and (max-width: $break-large)
            height: 4px
            margin-bottom: 30px
        @media screen and (max-width: $break-medium)
            margin-bottom: 20px
        @media screen and (max-width: $break-mobile)
            height: 3px
            width: 50px
    .cta__button
        background: $colorHeading
        font-size: 1.1rem
        padding: 25px 70px
        border: 0
        z-index: 3
        @media screen and (max-width: $break-large)
            font-size: 1rem
            padding: 18px 50px
        @media screen and (max-width: $break-medium)
            font-size: .8rem
            padding: 15px 30px
        @media screen and (max-width: $break-small)
            font-size: .7rem
            padding: 12px 26px
        @media screen and (max-width: $break-mobile)
            padding: 10px 20px

/*====FOOTER===============================================================*/
.footer
    padding: 80px 0 40px 0
    background: #fdfdfd
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    @media screen and (max-width: $break-medium)
        padding: 30px 0
    .footer__logo
        font-size: 1.8rem
        font-weight: 700
        color: $colorPrimary
        margin-bottom: 30px
        @media screen and (max-width: $break-medium)
            margin-bottom: 20px
        @media screen and (max-width: $break-small)
            font-size: 1.5rem
            margin-bottom: 10px
        @media screen and (max-width: $break-mobile)
            font-size: 1.2rem
    .footer__text
        text-align: center
        color: $colorP
        line-height: 1.5
        letter-spacing: 1px
        font-size: 1.05rem
        margin-bottom: 40px
        @media screen and (max-width: $break-medium)
            margin-bottom: 20px
        @media screen and (max-width: $break-small)
            font-size: 1rem
            line-height: 1.3
        @media screen and (max-width: $break-mobile)
            line-height: 1
            width: 50%
    .footer__icons
        display: flex
        align-items: center
        margin-bottom: 60px
        @media screen and (max-width: $break-medium)
            margin-bottom: 30px
        @media screen and (max-width: $break-small)
            margin-bottom: 20px
        .footer__icon
            background: #cccccc
            padding: 15px
            border-radius: 50px
            font-size: 1.2rem
            color: #fff
            width: 49.2px
            text-align: center
            transition: all .2s ease-in-out
            &:not(:last-child)
                margin-right: 10px
            @media screen and (max-width: $break-small)
                padding: 10px
                width: 33.3px
                font-size: .8rem
            @media screen and (max-width: $break-mobile)
                padding: 8px
                width: 25.6px
                font-size: .6rem
        .fb:hover
            background: #3b5998 !important
        .tw:hover
            background: #1da1f2 !important
        .in:hover
            background: #0077b5 !important
        .ball:hover
            background: #ea4c89 !important
        .be:hover
            background: #1769ff !important
        .g:hover
            background: #dd4b39 !important
    .footer__line
        height: 1px
        width: 1200px
        background: #ccc
        margin-bottom: 40px
        @media screen and (max-width: $break-large)
            width: 900px
        @media screen and (max-width: $break-medium)
            width: 650px
            margin-bottom: 20px
        @media screen and (max-width: $break-small)
            width: 480px
        @media screen and (max-width: $break-mobile)
            width: 300px
    .footer__copyright
        color: $colorP
        @media screen and (max-width: $break-mobile)
            font-size: .7rem
        
